[phases.setup]
nixPkgs = ["python312", "nodejs_20"]

[phases.install]
cmds = [
    "pip install -r requirements.txt",
    "cd web && npm install"
]

[phases.build]
cmds = [
    "cd web && npm run build"
]

[start]
cmd = "gunicorn api.server:app --bind 0.0.0.0:$PORT"
